<div class="row">

    <div class="col s8">

        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title <i
                        class="mdi-navigation-more-vert right"></i></span>

                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i
                        class="mdi-navigation-close right"></i></span>

                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href='#'>This is a link</a>
            </div>
        </div>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title <i
                        class="mdi-navigation-more-vert right"></i></span>

                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i
                        class="mdi-navigation-close right"></i></span>

                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>

    <div class="col s4">
        <div class="widget">
            <div class="widget-header"><i class="tiny mdi-action-book"></i> <span>Dự án của bạn</span></div>
            <div class="widget-content">
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                        <span class="title">Học tiếng anh đơn giản</span>
                        <p><i class="mdi-action-star-rate small"></i>142</p>
                        <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="mdi-file-folder circle"></i>
                        <span class="title">Kỹ năng làm chủ giao tiếp</span>
                        <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="mdi-action-assessment circle green"></i>
                        <span class="title">Sách phát triển doanh nghiệp trẻ...</span>
                        <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="mdi-av-play-arrow circle red"></i>
                        <span class="title">Phim Running Man </span>
                        <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="mdi-action-shopping-basket circle blue"></i>
                        <span class="title">Kỹ năng mua sắm thông minh</span>

                    </li>
                    <li class="collection-item avatar">
                        <i class="mdi-action-perm-media circle green"></i>
                        <span class="title">Học Photoshop</span>

                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>